$primary-color: #987284;
$secondary-color: #8797B2;
$lavender: #CBC0D3;
$text-color: #333333;
$white: #E3E4DB;

@import './base.scss';
@import './components.scss';
@import './navigation.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';
